h1 {
    color: #c51818;
}
h2 {
    color: #46484c;
}
p {
    color: #8b8b8bcc;
}

button {
  color: #fff;
  background: #025157;
}

body {
    background-color: #fffbf7;
}
main{
  margin-top: 285px;
  text-align: center;
}
.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
    height: 45px;
}
  li{
      display: inline;
  }
  .header > * {
      display: inline-block;
      font-size: 16px;
      vertical-align: middle;
      height: 45px;
      line-height: 45px;
      font-family: sans-serif;
  }
.logo{
    width: 15%;
    
}

.carousel-inner > .carousel-item > img {
   width:100%; 
   height:500px; 
  }

/* .navbar{
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
} */
.menu {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    color: #025157;
  }
.actions{
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 700;
}
.actions > * {
    margin-right: 10px;
    margin-left: 10px;
  }
  .actions a {
    color: #67b54b;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: 0;
    border-radius: 5px;
  }

  .videopub{
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;
  }
  .publish {
    margin: 100px;
  }
  .publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  }
  
  .publish > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .publish > form {
    display: flex;
  }
  
  .publish > form p {
    color: #025157;
    margin-right: 18px;
  }
  

  .features {
    background-color: #037a83;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content img {
    width: 60px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -10px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }


  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video img {
    width: 120px;
    margin-top: 10px;
  }
  
  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    
    z-index: 1030;
  }
  /* .grow {
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .grow .sum {
    flex: 2;
    padding-right: 90px;
  }

  .grow .sum h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  .grow .sum p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  
  .grow .sum button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }
  .grow .sum img {
    width: 500px;
    max-width: 100%;
  }

  .grow .carousel .card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
  }
  
  .grow .carousel .card .card-foto img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .grow .carousel .card .card-foto figure {
    margin-top: 0;
  }
  .grow .carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
  }
  
  .grow .carousel .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .grow .carousel .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
  }
  .grow .carousel .card .card-body .result img {
    width: 26px;
    margin-right: 20px;
} */
.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

.success-stories .stories-carousel {
  flex: 1;
}

.success-stories .stories-carousel .carousel-indicators {
  position: unset;
}

.success-stories .stories-carousel .card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.success-stories .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.success-stories .stories-carousel .card .card-media figure {
  margin-top: 0;
}

.success-stories .stories-carousel .card .card-media {
  position: relative;
}

.success-stories .stories-carousel .card .card-media .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-stories .stories-carousel .card .card-media .company img {
  max-width: 75%;
}

.success-stories .stories-carousel .card .card-body,
.success-stories .stories-carousel .card .card-footer {
  padding: 25px;
}

.success-stories .stories-carousel .card .card-body h4 {
  color: #025157;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
}

.success-stories .stories-carousel .card .card-body h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}

.success-stories .stories-carousel .card .card-body .results {
  display: flex;
  align-items: center;
  color: #828282;
}

.success-stories .stories-carousel .card .card-body .results img {
  width: 26px;
  margin-right: 20px;
}

.success-stories .stories-carousel .card .card-body .results p {
  margin-top: 0;
}

.success-stories .stories-carousel .card .card-footer {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.success-stories .stories-carousel .card .card-footer button {
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}

.how-does-it-work {
  background-color: #fffbf7;
  padding: 5% 10%;
  text-align: center;
}

.how-does-it-work .title {
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Alegreya", serif;
  margin-bottom: 8px;
}

.how-does-it-work .description {
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  margin-bottom: 16px;
}

.how-does-it-work .description a {
  color: #67b54b;
  text-decoration: none;
}

.how-does-it-work button {
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  border-radius: 8px;
  margin-top: 6px;
}

.how-does-it-work .steps {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.how-does-it-work .steps .card-step {
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

.how-does-it-work .steps .card-step .card-step-image {
  position: relative;
  height: 350px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-icon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.how-does-it-work .steps .card-step .card-step-image .card-step-bg {
  width: 100%;
  height: 100%;
}

.how-does-it-work .steps .card-step .card-step-body {
  padding: 25px;
}

.how-does-it-work .steps .card-step .card-step-body h3 {
  font-size: 30px;
  line-height: 36px;
  font-family: "Alegreya", serif;
  color: #025157;
  font-weight: 400;
  text-align: center;
}

.how-does-it-work .steps .card-step .card-step-body p {
  font-size: 15px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  height: 85px;
  margin-bottom: 16px;
}

.how-does-it-work .steps .card-step .card-step-body a {
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

/** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
  body {
    background-color: #67b54b;
  }
 
  .actions {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
  main{
    margin-top: 95px;
  }

  .banner > img {
    width: 100%;
  }

  .publishh > form {
    flex-direction: column;
    display: flex;
  }
  .videopub{
    flex-direction: column;
  }
  .video{
    width: 100%;
  }
  .publish{
    margin-top: 10px;
  }
  .publish > h3{
    font-size: 25px;
    line-height: 1.2;
  }

  .features {
    grid-template: repeat(4, 1fr) / 1fr;
    padding-left: 0;
    padding-right: 0;
  }
  
  .feature-image {
    display: none;
  }
}

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  
}

/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  
}
